<div class="content">
  <div class="header">
    <div class="left-side" (click)="overlayCtrlService.showOverlay('editChannel')">
      <p># {{ channel.name }}</p>
      <div class="dropdown"></div>
    </div>
    <div class="right-side">
      <div class="header-members" (click)="overlayCtrlService.showOverlay('members')">
        <div>
          @for (member of channel.members; track member; let index = $index) {
          @if(index
          < 3){ <img src="{{ member.imgPath }}" alt="" />
          } }
        </div>
        <p id="counter">{{ channel.members.length }}</p>
      </div>
      <div (click)="overlayCtrlService.showOverlay('add-members')" id="add-person">
        <img src="assets/icons/person_add.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="massages-wrapper">
    @for (msg of messages; track msg; let index = $index) {
    @if (!proofForSameDay(msg)){
    @if (index == 0) { <div class="timestamp">
      <img src="assets/icons/Line.png" alt="" />
      <div class="timestamp-time">{{ this.getTimestamp(msg).weekday }}, {{
        this.getTimestamp(msg).day}} {{this.getTimestamp(msg).month}}</div><img src="assets/icons/Line.png" alt="" />
    </div>}

    <app-message-container (click)="overlayCtrlService.openThread(channel, msg)" [message]="msg"
      [msgType]="'channel'"></app-message-container>
    } @else {

    <div class="timestamp">
      <img src="assets/icons/Line.png" alt="" />
      <div class="timestamp-time">Heute</div><img src="assets/icons/Line.png" alt="" />
    </div>
    <app-message-container (click)="overlayCtrlService.openThread(channel, msg)" [message]="msg"
      [msgType]="'channel'"></app-message-container>
    }
    }
  </div>
  <app-textarea-container [type]="'Channels'"> </app-textarea-container>
</div>