<div class="main-container" (click)="onResultClick()">
  <div class="header-mobile" [ngClass]="{'element-to-hide': isLeftShowing() ||  isMiddleShowing() == false}">
    <div class="logo-mobile"></div>
    <div class="user-mobile">
      <img src="{{ this.activeUser.imgPath }}" alt="" class="user-image-mobile"
        (click)="overlayCtrlService.showOverlay('dropDownUserMenu')" />
    </div>

  </div>
  <app-dev-header [ngClass]="{'element-to-hide': isMiddleShowing() && !isShwoginHeader()}"></app-dev-header>
  <div class="search-mobile " [ngClass]="{'element-to-hide': isSearchShowing()}">
    <input (focus)="initSearch()" type="search" placeholder="Gehe zu..." [(ngModel)]="searchInput"
      class="search-bar-mobile" (ngModelChange)="onInputChange()" />
  </div>
  <div class="result-field-mobile" id="result-field" *ngIf="this.isSearchFieldEmptySig()">
    <div *ngIf="searchService.searchUserResult.length > 0">
      <h4>Users:</h4>
      <ng-container *ngFor="let result of searchService.searchUserResult">
        <div (click)=" onResultClick()" class="userResultContainer">
          <img src="{{ result.imgPath }}" alt="">
          <p (click)="openDirectMessage(result); onResultClick(); showMiddle()">{{
            result['name'] }}
          </p>
        </div>
      </ng-container>
    </div>
    <div *ngIf="searchService.searchChannelsResult.length > 0" class="channels-result">
      <h4>Channels:</h4>
      <ng-container *ngFor="let result of searchService.searchChannelsResult">
        <p (click)="channelService.subChannel(result.id); onResultClick(); showMiddle()">{{ result.name }}
        </p>
      </ng-container>
    </div>
    <div *ngIf="searchService.searchMessageResult.length > 0" class="message-result">
      <h4>Messages:</h4>
      <ng-container *ngFor="let msgResult of searchService.searchMessageResult">
        <p (click)="channelService.subChannel(msgResult.messageOfChannel); showMiddle(); onResultClick()">
          <b>Im Channel {{searchService.showChannelName(msgResult)}} </b> - {{ msgResult.content }}
        </p>
        <div *ngIf="searchService.searchThreadResult.length > 0" class="thread-result">
          <ng-container *ngFor="let threadResult of searchService.searchThreadResult">
            <div class="thread-content">
              <p (click)="this.searchService.searchForChannel(msgResult); showMiddle(); onResultClick()"><b>Thread in
                  der Message</b> - {{ threadResult.content }}
              </p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="header ">
    <div class="logo"></div>
    <input (focus)="initSearch()" type="search" placeholder="Code learning durchsuchen" [(ngModel)]="searchInput"
      class="search-bar" (ngModelChange)="onInputChange()" />

    <div class="result-field not-show-on-mobile" id="result-field" *ngIf="this.isSearchFieldEmptySig()">
      <div *ngIf="searchService.searchUserResult.length > 0">
        <h4>Users:</h4>
        <ng-container *ngFor="let result of searchService.searchUserResult">
          <div (click)=" onResultClick()" class="userResultContainer">
            <img src="{{ result.imgPath }}" alt="">
            <p (click)="openDirectMessage(result); onResultClick()">{{
              result['name'] }}
            </p>
          </div>
        </ng-container>
      </div>
      <div *ngIf="searchService.searchChannelsResult.length > 0" class="channels-result">
        <h4>Channels:</h4>
        <ng-container *ngFor="let result of searchService.searchChannelsResult">
          <p (click)="overlayCtrlService.showMessageComponent('channel',result.id); onResultClick()">{{ result.name }}
          </p>
        </ng-container>
      </div>
      <div *ngIf="searchService.searchMessageResult.length > 0" class="message-result">
        <h4>Messages:</h4>
        <ng-container *ngFor="let msgResult of searchService.searchMessageResult">
          <p (click)="overlayCtrlService.showMessageComponent('channel',msgResult.messageOfChannel); onResultClick()">
            <b>Im Channel {{searchService.showChannelName(msgResult)}} </b> - {{ msgResult.content }}
          </p>
          <div *ngIf="searchService.searchThreadResult.length > 0" class="thread-result">
            @for (threadResult of searchService.searchThreadResult; track threadResult) {
              @if (threadResult.messageOfChannel == msgResult.id) {
                <div class="thread-content">
                  <p (click)="this.searchService.searchForChannel(msgResult); onResultClick()"><b>Thread in der
                      Message</b> - {{ threadResult.content }}
                  </p>
                </div>
              }
            }
          </div>
        </ng-container>
      </div>
    </div>

    <div class="user">
      <div>{{ this.activeUser.name }}</div>
      <div>
        <img src="{{ this.activeUser.imgPath }}" alt="" class="user-image" />
      </div>
      <div>
        <img class="user-menu" src="assets/img/keyboard_arrow_down.png"
          (click)="overlayCtrlService.showOverlay('dropDownUserMenu')" />
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sidebar">
      <app-workspace-menu></app-workspace-menu>
    </div>
    <div class="left-side" *ngIf="!(overlayCtrlService.showHideLeftSide$ | async)"
      [ngClass]="{'element-to-hide': isLeftShowing()}">
      <app-left-side></app-left-side>
    </div>
    <div class="middle" [ngClass]="{'element-to-hide': isMiddleShowing()}">
      <div *ngIf="overlayCtrlService.messageComponentType === 'channel'">
        <app-channel-message [channel]="activeChannel"></app-channel-message>
      </div>
      <div *ngIf="overlayCtrlService.messageComponentType === 'directMessage'">
        <app-direct-message></app-direct-message>
      </div>
      <div *ngIf="overlayCtrlService.messageComponentType === 'newMessage'">
        <app-new-message></app-new-message>
      </div>
    </div>
    <div class="right-side" *ngIf="(overlayCtrlService.showHideRightSide())"
      [ngClass]="{'element-to-hide': isRightShowing()}">
      <app-thread [channel]="activeChannel"></app-thread>
    </div>
  </div>
</div>

<app-overlay></app-overlay>