<div class="registered-user-profile-card">
    <div class="card-header">
        <h3>Profil</h3>
        <button class="btn-default icon-btn back-btn" (click)="overlayCtrlService.hideOverlay()">
            <div class="back-btn-icon"></div>
        </button>
    </div>
    <div class="card-content">
        <img src="{{ activeUser.imgPath }}" alt="">
        <div class="name-status-wrapper">
            <div class="name-editBtn-wrapper">
                <h2>{{ activeUser.name }}</h2>
                <button class="btn-default text-btn"
                    (click)="overlayCtrlService.showOverlay('editProfile',$event)">Bearbeiten</button>
            </div>
            <div class="status-wrapper" [class.active]="activeUser.status == 'Aktiv'">
                <div class="status-lamp"></div>
                <span class="status-text">{{(activeUser.status)? activeUser.status:''}}</span>
            </div>
        </div>
        <div class="email-wrapper">
            <div>
                <img src="assets/img/mail.png" alt="mail">
                <span><b>E-Mail-Adresse</b></span>
            </div>
            <span>{{ activeUser.email }}</span>
        </div>
    </div>
</div>