<img src="assets/img/Logo.png" alt="" class="first-logo-without-animation">
<img src="assets/img/Logo name.png" alt="" class="second-logo-without-animation">
<div class="wrapper-card">
    <div class="reset-password-card">
        <button class="btn-default icon-btn back-btn" routerLink="/">
            <div class="back-btn-icon"></div>
        </button>
        <div class="card-header">
            <h2>Passwort zurücksetzten</h2>
        </div>
        <form class="card-content" #newPWForm="ngForm" (ngSubmit)="onSubmit(newPWForm)">
            <div class="form-field-ipt-text-icon">
                <div class="ipt-field-wrapper">
                    <input type="password" placeholder="Neues Passwort" required name="newPassword"
                        #newPasswordModel="ngModel" [(ngModel)]="newPassword"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[ !&quot;#$%&amp;'()*+,\-./:;&lt;=&gt;?@[\\\]^_`{|}~]).{8,20}$" >
                </div>
                <span [hidden]="newPasswordModel.untouched || newPasswordModel.valid" class="error-msg">*Bitte legen Sie
                    Ihr Passwort fest. Mindestens 8 Zeichen/Nummern <br>(mind 1 Kleinbuchstabe, 1 Großbuchstabe, 1
                    Nummer und 1 Sonderzeichen)</span>
            </div>
            <div class="form-field-ipt-text-icon">
                <div class="ipt-field-wrapper">
                    <input type="password" placeholder="Passwort bestätigen" required name="confirmPassword"
                        #confirmPasswordModel="ngModel" [(ngModel)]="confirmPassword">
                </div>
                <span
                    [hidden]="confirmPasswordModel.untouched || newPassword == confirmPassword || newPasswordModel.invalid"
                    class="error-msg">Ihre Kennwörter stimmen nicht überein.</span>
            </div>
            <button class="btn-default primary-btn"
                [disabled]="!newPWForm.valid || newPassword != confirmPassword">Passwort speichern</button>
        </form>
    </div>
    <div class="footer-container">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy">Datenschutz</a>
    </div>
</div>

<app-overlayanmelden [onIptChangeShowOverlay]="toggleOverlay"></app-overlayanmelden>