<div class="content">
  <div class="header">
    <div>
      <app-userlistitem [checked]="false" [user]="secondUser"
        (click)="overlayControlService.showOverlay('userProfile')"></app-userlistitem>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="messages-wrapper">
      @for (msg of messages; track msg) {
      <app-message-container [message]="msg" [msgType]="'directMsg'"></app-message-container>
      }
    </div>
    <div class="content-footer-wrapper">
      <div class="msg-second-user">
        <img src="{{ secondUser.imgPath }}" alt="" />
        <b>{{ secondUser.name }}</b>
      </div>
      <p class="info">
        Diese Unterhaltung findet nur zwischen
        <span class="info-span">&commat;{{ secondUser.name }}</span> und dir
        statt.
      </p>
    </div>
  </div>

  <app-textarea-container [type]="'directMessages'"></app-textarea-container>
</div>