$prim-color: rgba(68, 77, 242, 1);
$prim-color-hover: rgba(121, 126, 243, 1);

$hover-grey: rgba(230, 230, 230, 1);
$dark-grey: rgba(104, 104, 104, 1);
$prim-color-light-hover: rgba(236, 238, 254, 1);
$prim-color-bright-hover: rgba(83, 90, 241, 1);

$bg-color: #eceefe;
$ovly-bg-color: rgba(0,0,0,0.4);

$lightblue: rgba(173, 176, 217, 1);

$error-red:rgba(237, 30, 121, 1);
$online-green: rgba(146, 200, 62, 1);
$email-blue: rgba(19, 129, 255, 1);

$white: #FFFFFF;
$black: #000000;