<div class="main-content">
  <div class="content-container">
    <div class="header">
      <img src="assets/img/arrow_back.png" (click)="goBack()" class="goBack" />
    </div>
    <div class="content">
      <h1>Impressum</h1>
      <br />
      <h2>Angaben gemäß § 5 TMG</h2>
      <br />
      <div>
        Full-Stack-Developer <br />
        Christian Westrich
      </div>
      <br />
      <h3>Postanschrift</h3>
      <br />
      <div>
        Bodenfeld 3a <br />
        91466 Gerhardshofen
      </div>
      <br />

      <h3>Kontakt</h3>
      <br />
      <div>
        Mobil: <a href="tel:015122632005">015122632005</a><br />
        Email:
        <a href="mailto:kontakt@christian-westrich.de">kontakt&#64;christian-westrich.de</a>
      </div>
      <br />
      <h3>Information gemäß §36 VSBG</h3>
      <br />
      <div>
        Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die
        alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber
        dieser Website:
      </div>
      <div>
        Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </div>
      <div>
        Das Impressum wurde mit dem
        <a href="https://www.activemind.de/datenschutz/generatoren/impressum/" target="_blank">Impressums-Generator der
          activeMind AG
        </a>
        erstellt
      </div>
    </div>
  </div>
</div>