<div class="content">
  <div class="header">
    <div>
      <img src="assets/icons/Workspace logo.jpg" alt="" />
      <p>Devspace</p>
    </div>
    <img src="assets/icons/16. edit_square.jpg"
      (click)="overlayCtrlService.showMessageComponent('newMessage'); showMiddle()" />
  </div>
  <div class="body">
    <div class="channels">
      <div class="channel-header">
        <div class="hover" (click)="toggleDropdown('channels')">
          <div class="dropdown"></div>
          <img src="assets/icons/workspaces.svg" alt="" />
          <b>Channels</b>
        </div>
        <div class="plus-icon" (click)="overlayCtrlService.showOverlay('createChannel')"></div>
      </div>
      <div class="channels-list" [class.collapsed]="dropdownCollapsed.channels">
        <p [class.checked]="isChecked(channel.id)" class="channels-name" (click)="
            overlayCtrlService.showMessageComponent('channel', channel.id); showMiddleThroughChannelSelect()
          " *ngFor="let channel of channels">
          # {{ channel.name }}
        </p>
      </div>
      <div class="bottom">
        <img src="assets/icons/add_circle.jpg" alt="" />
        <p (click)="overlayCtrlService.showOverlay('createChannel')">
          Channel hinzufügen
        </p>
      </div>
    </div>
    <div class="direct-messages">
      <div class="channel-header">
        <div class="hover" (click)="toggleDropdown('directMessages')">
          <div class="dropdown"></div>
          <img src="assets/icons/workspaces.svg" alt="" />
          <b>Direktnachrichten</b>
        </div>
      </div>
      <div class="direct-messages-list" [class.collapsed]="dropdownCollapsed.directMessages">
        @for (directMessage of directMessages; track directMessage) {
        @if(getUser(directMessage.users).id != '') {
        <app-userlistitem [user]="getUser(directMessage.users)"
          (click)="selectDirectMessage(directMessage)"></app-userlistitem>
        } }
      </div>
    </div>
  </div>
  <button class="btn-default btn-new-msg-res"
    (click)="overlayCtrlService.showMessageComponent('newMessage'); showMiddle()">
    <img src="assets/icons/edit_square_white.svg" alt="">
  </button>
</div>